<!-- Validation failure messages -->
<% if @ownership.errors.any? %>
  <% @ownership.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Add Ownership</h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/create_ownership" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for user_id -->
      <div class="form-group">
        <label for="user_id" class="control-label">
          User
        </label>

        <%= select_tag(:user_id, options_from_collection_for_select(User.all, :id, :name, @ownership.user_id), :class => "form-control") %>
      </div>

      <!-- Label and input for listing_id -->
      <div class="form-group">
        <label for="listing_id" class="control-label">
          Listing
        </label>

        <input type="text" id="listing_id" name="listing_id" placeholder="Listing" class="form-control" value="<%= @ownership.listing_id %>">
      </div>

      <button class="btn btn-success">
        Create Ownership
      </button>
      or
      <a href="/ownerships">Cancel</a>
    </form>
  </div>
</div>
